.hide{
    color:red;
    display: none;
}

.right{
    width:40%;
    float:right;
}


.left{
    width:40%;
    float:left;
    height:600px;

    position:fixed;
    
}

textarea{
    width:100%;
    float:left;
    height:60%;
}

#total{
    color:blue;
}
#date{

}

img{
    width:40px;
}

button{
    
   
}